@import "variables";

.home {
  margin: 300px auto 0 auto;
  width: 250px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &__group {
    width: 230px;
  }

  &__submit {
    float: right;
    margin-right: 18px;
  }
}

.logo {
  color: $dark-blue;
  font-weight: bold;
  font-size: 50px;
}
