<div class="home" (keyup.enter)="onSubmit()">
  <app-logo></app-logo>

  <mat-form-field class="home__group">
    <input
      type="text"
      matInput
      placeholder="Login"
      [formControl]="name"
      >
  </mat-form-field>

  <mat-form-field class="home__group">
    <input
      type="password"
      matInput
      placeholder="Password"
      [formControl]="password"
      >
  </mat-form-field>

  <button
    mat-stroked-button
    type="submit"
    class="home__submit"
    (click)="onSubmit()">
    Підтвердити
  </button>
</div>
