@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "assets/styles/calendar";
@import "variables";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
ul { list-style: none; padding: 0 }
a { color: inherit; text-decoration: inherit; }
