.wrapper {
  margin-left:80px;
  margin-top: 50px;
}

.material {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.name {
  align-self: center;
}

.back {
  margin: 20px;
}
